@model LancheListViewModel


<div>
    <h2>@Model.CategoriaAtual</h2>
    @*<h2> @ViewData["Titulo"] </h2>*@
    @*<h3>@ViewData["Data"]</h3>*@
</div>
@*
<hr/>
<h3>@ViewBag.Total @ViewBag.TotalLanches</h3>
<hr/>

<h3>@TempData["Nome"]</h3>*@

<div class="row">
@foreach (var lanche in Model.Lanches)
{
   <partial name="_LanchesResumo" for="@lanche"/>
}
</div>
