@model IEnumerable<LanchesMac.Models.Lanche>


<div>
    <h2>Todos os Lanches</h2>
    @*<h2> @ViewData["Titulo"] </h2>*@
    @*<h3>@ViewData["Data"]</h3>*@
</div>
@*
<hr/>
<h3>@ViewBag.Total @ViewBag.TotalLanches</h3>
<hr/>

<h3>@TempData["Nome"]</h3>*@

<div class="row">
@foreach (var lanche in Model)
{
    <div class="col-md-4 col-sm-6  col-12">
        <h4>Lanche: @lanche.Nome</h4>
        <p><img src="@lanche.ImagemUrl"/></p>
        <p>Preço: @lanche.Preco.ToString("c")</p>
    </div>
}
</div>
